
{% extends "codagram/layout.html" %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div class="container mt-3">
  <div class="card", style="width:100%">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="card-title" style="margin-left: 1%; margin-top:1%; margin-right: 1%; margin-bottom:1px">{{ post.subject }}</h4>
        <div class="card-text" style="margin-left: 1%; margin-right: 1%; margin-top:1px; white-space: pre-line; overflow:auto; height:150px">
            {{post.description}}
        </div>
        <div class="card-footer", style="text-align:right; font-size:0.8em">
            
            <div id="update">
                <form action="{% url 'post:post_update' post.id%}" method="get" class="my-3" style="display:inline">
                    {% csrf_token %}
                    <!-- 오류표시 Start -->
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-primary" style="font-size:10px; padding:2px">게시글 수정하기</button>
                    
                </form>
                <form action="{% url 'post:post_delete' post.id%}" method="get" class="my-3" style="display:inline">
                    {% csrf_token %}
                    <!-- 오류표시 Start -->
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-danger" style="font-size:10px; padding:2px">게시글 삭제하기</button>
                    
                </form>
                <div style="display:inline">{{ post.register_date }}</div>
            </div>
            <script>
                if ("{{request.user.username}}" == "{{post.author}}"){
                    document.getElementById("update").style.display = "block";
                }else{
                    document.getElementById("update").style.display = "none";
                }

            </script>
            
        </div>
      </div>
    </div>
  </div>
  <div class="border border-5">
    <div class="row" style="height:400px;">
            <div class="col" style="flex: 0 1 auto; width:50%;">
                <div style="margin-left:5%; margin-right:2%">
                    <h5 class="border-bottom my-1 py-2" style="vertical-align:middle">
                        문제 코드
                        <button id="comment_write" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comment" style="font-size:10px; padding:5px">
                            답변 등록하기
                        </button>
                    </h5>
                    <div class='code_content' style="margin-top:5%; overflow:auto; height:300px">{{ post.content|safe }}</div>
                    
                </div>
            </div>
            <div class="col" style="flex: 0 1 auto; overflow:auto; width:50%">
                <div style="margin-left:2%; margin-right:5%">
                    <ul class="nav nav-tabs border-bottom" style="margin-top:0.5em">
                        {% for comment in post.comment_set.all %}
                            {% if forloop.first %}
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" id="{{comment.author}}">{{comment.author}}</a>
                                    <div id="author" style="display:none">{{comment.author}}</div>
                                </li>
                                <script>
                                    document.querySelector('#{{comment.author}}').addEventListener(
                                        'click',
                                        () => {
                                            const data = axios({
                                                url: '/post/comment/get/',
                                                method: 'get',
                                                params: {
                                                    username: "{{comment.author}}",
                                                }
                                            });
                                            data.then(function(result){
                                                let content = result.data[0]['content'];
                                                let description = result.data[0]['description'];
                                                console.log(content)
                                                console.log(description)
                                                let html = `${content}`;
                                                let html2 = `${description}`;
                                                document.getElementById('menu').innerHTML = html;
                                                document.getElementById('description2').innerHTML = html2;
                                            });  
                                        }
                                    );
                                </script>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" id="{{comment.author}}">{{comment.author}}</a>
                                </li>
                                <script>
                                    document.querySelector('#{{comment.author}}').addEventListener(
                                        'click',
                                        () => {
                                            const data = axios({
                                                url: '/post/comment/get/',
                                                method: 'get',
                                                params: {
                                                    username: "{{comment.author}}",
                                                }
                                            });
                                            data.then(function(result){
                                                let content = result.data[0]['content'];
                                                let description = result.data[0]['description'];
                                                console.log(content)
                                                console.log(description)
                                                let html = `${content}`;
                                                let html2 = `${description}`;
                                                document.getElementById('menu').innerHTML = html;
                                                document.getElementById('description2').innerHTML = html2;
                                            }); 
                                        }
                                    );
                                </script>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content" style="width:100%; overflow:auto; height:300px">
                        <div class="tab-pane container active" style="white-space:pre-line; margin-top:2px; padding:0">
                            <p id='menu'>{{post.comment_set.all.0.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="comment">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-head" style="padding:10px">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="float:right"></button>
                </div>
                <!-- Modal body -->
                <form action="{% url 'post:comment_create' post.id %}" method="post" class="my-3">
                    {% csrf_token %}
                    <!-- 오류표시 Start -->
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                      {% for field in form %}
                        {% if field.errors %}
                          <strong>{{ field.label }}</strong>
                          {{ field.errors }}
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}
                    <div class="modal-body">
                        <div class="row" style="height:100%%; overflow:auto;">
                            
                            <div class="col" style="flex: 0 1 auto;  width:50%; ">
                                <h5 class="border-bottom my-3">수정해야하는 코드</h5>
                                <div class="form-group">
                                    <textarea name="content" id="content" class="form-control" rows="20" wrap="off"></textarea>
                                </div>
                            </div>
                            
                            <div class="col" style="flex: 0 1 auto; overflow:auto; width:50%;">
                                <h5 class="border-bottom my-3">수정한 코드 설명</h5>
                                <div class="form-group">
                                    <textarea name="description" id="description" class="form-control" rows="20" wrap="off"></textarea>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="답변등록" class="btn btn-primary" data-bs-dismiss="modal">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card", style="width:100%;">
        <div class="card bg-dark text-white">
            <div class="card-body" style="padding:1em; height:250px">
                <h3 class="card-title" style="margin-left: 1%; margin-top:1%; margin-right: 1%; margin-bottom:1px; display:inline">참여자 코드 해설</h3>
                

                <form id="comment_form" method="post" class="my-2" style="display:inline">
                    {% csrf_token %}
                    <!-- 오류표시 Start -->
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-primary" id="comment_btn" style="font-size:12px; padding:7px; float:right">답변 채택하기</button>
                    
                    {% for comment in post.comment_set.all %}
                        <script>
                            let comment_author = $("#author").text()
                            console.log(comment_author)
                            if (comment_author == "{{comment.author}}"){
                                let f = document.querySelector("#comment_form")
                                let btn = document.querySelector("#comment_btn")
                                if ("{{request.user.username}}" == "{{post.author}}"){
                                    f.action = "{% url 'post:select_comment' post.id comment.author%}"
                                    btn.value = '답변 채택하기';
                                }
                                else{
                                    f.action = "{% url 'post:comment_delete' post.id comment.author%}"
                                    btn.value = '답변 삭제하기';
                                }
                            }else{
                                console.log('onewonweon')
                            }
                        </script>
                    {% endfor %}
                </form>
                <div class="card-text" style="margin-left: 2%; margin-right: 1%; margin-top:1px; white-space: pre-line;">
                    <p id="description2" style="overflow:auto; height:150px; width:100%">{{post.comment_set.all.0.description}}</p>
                </div>
                
            </div>
        </div>
    </div>

</div>
{% endblock %}