{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>makes your ability to development more powerful</title>
        <link href="{% static "style.css" %}" rel="stylesheet">
        <link
            rel="stylesheet"
            href="{% static "bootstrap-5.1.3-dist/css/bootstrap.min.css" %}"/>
        <script src="{% static "jquery-3.6.0.min.js" %}"></script>
        <script src="{% static "bootstrap-5.1.3-dist/js/bootstrap.min.js" %}"></script>
        <!-- Custom CSS -->
        <link href="{% static "layout-side.css" %}" rel="stylesheet">
        <link href="{% static "oops.css" %}" rel="stylesheet">
    </head>
    <body class="bg-white">
        <header class="container pt-3 bg-white" >
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom">
                <a
                    href="{% url "codagram:index" %}"
                    class="d-flex align-items-center text-dark text-decoration-none">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        fill="rgb(0, 0, 50)"
                        class="bi bi-code-square mt-1 mx-2"
                        viewbox="0 0 16 16"
                        >
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path
                            d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                    </svg>

                    <span class="fs-4 text-dark">Codagram</span>
                </a>

                <div class="d-flex flex-row ms-md-auto mt-2 mt-md-0">
                    
                    {% if request.user.is_authenticated %}
                        {% comment %} Put in logout {% endcomment %}
                        <a id="alarmbtn" role="button" type="button" class="btn btn-outline-dark position-relative me-2">
                            &nbsp&nbsp
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="currentColor"
                                class="bi bi-bell"
                                viewbox="0 0 16 16">
                                <path
                                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ alarm_list|length }}
                            </span>
                            &nbsp&nbsp
                        </a>

                        <a href="/member/logout/" role="button" class="btn btn-dark text-dark me-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="rgb(255,255,255)"
                                class="bi bi-box-arrow-right"
                                viewBox="0.2 1 15 15">
                                <path
                                    fill-rule="evenodd"
                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                <path
                                    fill-rule="evenodd"
                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </a>
                    {% else %}
                        {% comment %} Put in login, singup {% endcomment %}
                        
                        <a href="/member/signup/" role="button" type="button" class="btn btn-primary me-2">
                            &nbsp&nbsp
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="rgb(255,255,255)"
                                class="bi bi-person-plus-fill"
                                viewBox="0.4 1 15 15">
                                <path
                                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path
                                    fill-rule="evenodd"
                                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                            &nbsp&nbsp
                        </a>
                        <a href="/member/login/" role="button" class="btn btn-dark text-dark me-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="rgb(255,255,255)"
                                class="bi bi-box-arrow-in-left"
                                viewBox="0.2 1 15 15">
                                <path
                                    fill-rule="evenodd"
                                    d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                <path
                                    fill-rule="evenodd"
                                    d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg>
                        </a>
                    {% endif %}
                    <!--  style="background-color:rgb(13,110,223)" -->
                    <button id="searchBtn" class="btn btn-dark">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="rgb(255,255,255)"
                            class="bi bi-search"
                            viewbox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="searchBox" class="d-flex bg-light" style="opacity:0.8;">
                <div class="d-flex ms-auto">
                    <form class="d-flex p-1" style="width: 280px;" action="{% url 'codagram:index' %}" method="get">
                        <input
                            class="form-control ms-auto"
                            type="text"
                            name="q"
                            placeholder=""
                            aria-label="Search">
                        <button class="btn ms-2 btn-outline-dark" type="submit">
                            SEARCH
                        </button>
                    </form>
                </div>
            </div>
        </header>

            
        </div>

        <main class='container mt-4'>
            <div id="wrapper" class="d-flex flex-row">
                <div id="sidebar-wrapper" class="sticky-top">
                    <div style="height:150px;"></div>
                    <div class="card card-body border-0" style="width: 150px;" >
                        {% for i in 123456789|make_list %}
                            <button type="button" class="btn btn-dark px-1 my-1 mx-1" style="font-size: 0.7rem;">
                                Language{{ i }}
                                <span class="badge bg-secondary">4</span>
                            </button>
                        {% endfor %}
                    </div>
                </div>
            
                <div id="page-content-wrapper" class="flex-fill px-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            
                <div id="sidebar-wrapper2" class="sticky-top" >
                    <div id="profileView-margin" style="height:100px;"></div>
                    
                    <div class="card border-0 m-2 p-2">
                        {% include "codagram/user_info.html" %}
                        {% include "member/profile.html" %}

                        <div id="new-post" class="flex-fill align-items-center btn btn-warning bg-gradient fw-bold mx-2 my-1 p-2" style="opacity:0.8;" >
                            Codagram</br>글 쓰기
                        </div>
                        <div id="new-lecture" class="flex-fill align-items-center btn btn-primary bg-gradient fw-bold mx-2  p-2" style="font-color:rgb(0,0,0);">
                            'Player' Ground</br> 입장하기
                        </div>
                    </div>
                    <div id="profileView-margin" style="height:100px;"></div>
                </div>
            </div>
            
            <div id="contents-bg" class="fixed-top min-vw=100 min-vh-100 bg-dark" style="z-index:101; opacity:0.5; display:none;"></div>
            <div id="contents-main" class="fixed-top bg-light rounded">
                <div>
                    <div class="align-self-center">
            
                    </div>
                <div>
            </div>
        </main>
    

    <div class="mb-auto mt-auto border-top mt-3 border-top">
        <div class="container ">
            <footer class="pt-4 md-5">
                <div class="row">
                    <div class="col-12 col-md">
                        <small class="d-block mb-3 text-muted">©2022 KT AIVLE#1 수도권 2반 - 1조</small>
                    </div>
                </footer>
            </div>
    </div>


    <!-- 모달을 열기 위한 버튼 -->
    <button type="button" style="display: none" class="btn btn-primary btn-lg" id="openModalBtn">
    </button>
    <button type="button" style="display: none" class="btn btn-primary btn-lg" id="openModalBtn2">
    </button>
    <!-- 모달 영역 -->
    <div id="modalBox" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Alarm List</h5>
            </div>
            <div class="modal-body">
              {% if alarm_list %}
                {% for d in alarm_list %}
                    {% include "member/_post_card.html" %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button id="modalBox_confirm" type="button" class="btn btn-primary">Confirm</button>
              <button id="modalBox_close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div id="modalBox2" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header mt-3">
            </div>
            <div class="modal-body">
              <p> 
              {% for message in messages %}
                    {{ message.message  }}
              {% endfor %}
            </p>
            </div>
            <div class="modal-footer">
              <button id="modalBox_close2" type="button" class="btn btn-primary" data-dismiss="modal">OK!</button>
            </div>
          </div>
        </div>
      </div>
    

    <script>
    $(function () {
        // alarm
        $('#openModalBtn').on('click', function(){
            $('#modalBox').modal('show');
                console.log("click open");
        });

        $('#modalBox_confirm').on('click', function(){
            //$('#modalBox').modal('hide');
            //window.location.href = '{% url "codagram:reset_alarm"%}';
            window.location.href = '{% url "member:check_alarm"%}';
            
        });

        $('#modalBox_close').on('click', function(){
            $('#modalBox').modal('hide');
            console.log("click close");
        });

        // message
        $('#openModalBtn2').on('click', function(){
            $('#modalBox2').modal('show');
                console.log("click open");
        });
        $('#modalBox_close2').on('click', function(){
            $('#modalBox2').modal('hide');
            console.log("click close");
        });
        

            
    
    
        //Keep track of last scroll
        var submenuHide = false;

        var nontarget = ['/member/', '/post/', '/denine/'];
        nontarget.forEach(function(item) {
            if(window.location.pathname.indexOf(item) != -1){
                submenuHide = true;
            }
        });

        if ( window.location.pathname == '/codagram/' ){ 
            //$("#sidebar-wrapper").css("width", "150px");
            {% if request.user.is_authenticated %}
                $("#sidebar-wrapper2").css("width", "300px");
            {% endif %}
        }

        var lastScroll = 0;

        {% if DontShowSide %}
            submenuHide = true;
            $("#sidebar-wrapper2").css("width", "0px");
        {% endif %}

        {% if request.user.is_authenticated %}
            if(submenuHide == false){
                //$("#sidebar-wrapper").css("width", "150px");
                $("#sidebar-wrapper2").css("width", "400px");
            }
        {% endif %}
        var newpostClick = false;

        var currentpage = 1;
        var myfuntion = ()=>{
            let query = ""
            let urlindex = $(location).attr('href').indexOf('?')
            if ( urlindex != -1){
                query = $(location).attr('href').substring(urlindex+3);
            }
            console.log(query);
            let param = {
                'paging_list': currentpage,
                'query': query,
            }
            $.ajax({
                url : '{% url "codagram:postlist_new" %}',
                type : 'POST',
                data : JSON.stringify(param),
                success:function(data){
                    $("#post_list_target").append(data);
                    currentpage += 1;
                    newpostClick = false;
                },
            });
        }


        
        $(window).bind('mousewheel', function(event) {
            if(submenuHide == false){
                if (event.originalEvent.wheelDelta >= 0) {
                    if ($("#sidebar-wrapper").css("width").replace('px','') < 100) {
                        //$("#sidebar-wrapper").css("width", "150px");
                        {% if request.user.is_authenticated %}
                            $("#sidebar-wrapper2").css("width", "400px");
                        {% endif %}
                    }
                }
                else {
                    if ($("#sidebar-wrapper2").css("width").replace('px','') > 100) {
                        //$("#sidebar-wrapper").css("width", "0px");
                        $("#sidebar-wrapper2").css("width", "0px");
                    }
                    if($(window).scrollTop() + $(window).height() > $(document).height() - 50) {
                        if(newpostClick == false){
                            {% if more == "F" %}
                            {% else %}
                                newpostClick = true;
                                myfuntion();
                            {% endif %}
                        }
                    }
                }
            }
        });
        
        
        
        document.getElementById("searchBtn").addEventListener("click", javascript_onclik_searchBtn);
        document.getElementById("new-post").addEventListener("click", javascript_onclik_newpost);
        document.getElementById("new-lecture").addEventListener("click", javascript_onclik_newlecture);
        document.getElementById("alarmbtn").addEventListener("click", javascript_onclik_modal1);
        
        var searchBtn_On = false;
        function javascript_onclik_searchBtn(){
                if (searchBtn_On){
                    $("#searchBox").css("height", "0px");
                    $("#searchBtn").attr('class', 'btn btn-dark');
                    searchBtn_On = false;
                }
                else{
                    $("#searchBox").css("height", "3em");
                    $("#searchBtn").attr('class', 'btn btn-secondary');
                    searchBtn_On = true;
                }
        }
        function javascript_onclik_newpost(){
            location.href = "{% url 'post:post_create' %}";
        }
        function javascript_onclik_newlecture(){
            location.href = "{% url 'lecture:index' %}";
        }
        function javascript_onclik_modal1(){
            document.getElementById("openModalBtn").click();
        }

        let titletmp = "Codagram " + ("{{request.path}}").replace('/', '· ');
        function replaceAll(str, searchStr, replaceStr) {
            return str.split(searchStr).join(replaceStr);
        }
        titletmp = replaceAll(titletmp, '/', '-')
        document.title = titletmp ;

        {% if messages %}
            document.getElementById("openModalBtn2").click();
        {% endif %}


        //document.getElementById("new-post").addEventListener("click", javascript_onclikc);
        //function javascript_onclikc(){
        //    $("#contents-bg").css("display", "inline");
        //    $("#contents-main").css("display", "inline");
        //}


    });
    </script>

</body>

</html>