{% load thumbnail %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="card-header bg-dark d-flex justify-content-end align-items-center">
            
            <div class="me-3 mt-1">
                <a class="text-decoration-none fw-bolder" style="color:rgb(255,255,255); font-size:1.2em;">
                    {{ request.user.username }}
                </a>
            </div>
            <div>
                <img src="{% url "pydenticon_image" request.user.username %}" class="rounded" style="width: 32px; height: 32px;" />
            </div>
        </div>
    {% else %}
        
    {% endif %}
{% endblock %}
