{% load humanize %}

<div
    class="mx-2 border border-light border-top-0 border-bottom-0 border-5"
    style="background-color:#F5F5F5">
    <h6 class="card-header botext-muted">내가 쓴 글</h6>
    <div class="d-flex flex-column m-1">
        <div class="d-flex flex-column  text-muted ">
                <div class="d-flex justify-content-between border-bottom py-2 bg-light">
                    <a
                        href="{% url 'post:detail' d.post %}"
                        class="ms-2 text-decoration-none"
                        style="color:rgb(0,0,0)">
                        {{d.post_subject}}
                    </a>
                    {{d.register_date|naturaltime }}
                </div>
        </div>
    </div>

</div>
