{% load bootstrap5 %}
{% block content %}  
<div class="mx-2 border border-light border-top-0 border-bottom-0 border-5" style="background-color:#F5F5F5">
    <h6 class="card-header botext-muted">내가 쓴 글</h6>
    <div class="d-flex flex-column m-1">
        <div class="d-flex flex-column  text-muted ">
            {% for data in post_data %}
                <div class="d-flex justify-content-between border-bottom py-2 bg-light">
                    <a
                        href="{% url 'post:detail' data.id %}"
                        class="ms-2 text-decoration-none"
                        style="color:rgb(0,0,0)">
                        {{ data.subject }}
                    </a>
                    {% if data.solved %}
                      <a class="mb-1 mx-1" style="color:#0275d8; font-weight:bold; font-size:0.7em">Solved</a>
                    {% else %}
                      <a class="mb-1 mx-1" style="color:#f0ad4e; font-weight:bold; font-size:0.7em">Open</a>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>
    </div>
    {% if post_range %}
    <div class='d-flex justify-content-center bd-highlight m-1'>
        [&nbsp;
      {% for i in post_range %}
        <a
            href='{% url "codagram:index" %}?page={{ i }}'
            class="text-decoration-none"
            style="color:rgb(0,0,0)">
            {{ i }}&nbsp;
        </a>
        {% endfor %}
        ]
    </div>    
    {% endif %}
</div>


<div class="mx-2 border border-light border-top-0 border-bottom-0 border-5" style="background-color:#F5F5F5">
  <h6 class="card-header botext-muted">내가 단 답글</h6>
  <div class="d-flex flex-column m-1">
      <div class="d-flex flex-column  text-muted ">
          {% for data in com_data %}
          <div class="d-flex justify-content-between border-bottom py-2 bg-light">
                <a
                      href="{% url 'post:detail' data.post.id %}"
                      class="ms-2 text-decoration-none"
                      style="color:rgb(0,0,0)">
                      {{ data.post.subject }}
                  </a>
                {% if data.solved %}
                      <a class="mb-1 me-1" style="color:#0275d8; font-weight:bold; font-size:0.7em">Solved</a>
                    {% else %}
                      <a class="mb-1 me-1" style="color:#f0ad4e; font-weight:bold; font-size:0.7em">Open</a>
                    {% endif %}
                  
              </div>
          {% endfor %}
      </div>
  </div>
  {% if com_range %}
  <div class='d-flex justify-content-center bd-highlight m-1'>
    
    [&nbsp;
    {% for i in com_range %}
    <a
        href='{% url "paging:army_shop" %}?page={{ i }}'
        class="text-decoration-none"
        style="color:rgb(0,0,0)">
        {{ i }}&nbsp;
    </a>
    {% endfor %}
    ]
  </div>   
  {% endif%}
</div>

{% endblock %}